<a href="<%= chatrooms_path %>" class="btn btn-primary me-2" data-turbo-method="post">
  Talk to a teacher</a>

<%= render "shared/gptchats", gpt_message: @gpt_message, gpt_chatroom: @gpt_chatroom %>
