<div class="last-line">
  <p>&copy; 2023 Code Labs. All rights reserved.</p>
  <p><a class="fabio">Privacy Policy</a> | <a class="fabio">Sitemap</a> | <a class="fabio">Terms</a> | <a class="fabio">Cookie preferences</a></p>
</div>
<div class="footer-links">
  <p>Follow us!</p>
  <a href="https://www.instagram.com/codelabs_lw/" target="_blank"><i class="fab fa-instagram"></i></a>
  <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
  <a href="https://www.linkedin.com/feed/"><i class="fab fa-linkedin"></i></a>
</div>
