<div class="container">
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-md-6 d-flex align-items-center">
      <h1 class="text-center">LEARN HOW TO CODE WITH US</h1>
    </div>
      <div class="card-landing" style="width: 25rem;">
        <img src="https://cdn.mos.cms.futurecdn.net/3eSHhTo4WUYwXJUpMCxEUo.jpg" class="card-img-top" alt="product" width="300px" style="border-radius: 10px;">
      </div>
  </div>

  <div class="row justify-content-center mt-5 mb-3">
      <div class="card-landing" style="width: 25rem;">
        <img src="https://f.hubspotusercontent10.net/hubfs/49114/Stock%20images/Thoughtful%20young%20programmer%20coding%20on%20computer%20in%20the%20evening%20at%20home-1.jpeg" class="card-img-top" alt="product" width="300px" style="border-radius: 10px;">
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <h1 class="text-center">HAVE THE MOST TIME-EFFICIENT WITH OUR LECTURES</h1>
      </div>
  </div>

  <div class="botão d-flex justify-content-center align-items-center mt-5 mb-3">
    <div class="col-md-6 d-flex align-items-center">
      <a href="products#index" class="btn btn-warning btn-lg">Explore our Courses</a>
    </div>
  </div>
</div>

</div>
