<div class="container">
  <div class="banner m-3" style="background-image: url('https://cdn.mos.cms.futurecdn.net/3eSHhTo4WUYwXJUpMCxEUo.jpg')">
    <div class="container p-4">
      <h1>Have the most time-efficient with our lectures.</h1>
      <p>Choose what language you want to learn with our dynamic teaching.</p>
      <%= link_to "See all courses", products_path, class:"btn" %>
    </div>
  </div>
  <div class="lading-page-content">
    <h3 class="text-center m-5">Why <strong class="codelabs">Code Labs</strong> ?</h3>
    <div class="features">
      <ul class="list-unstyled d-flex justify-content-around">
        <li class="text-center">
          <i class="fa-solid fa-code fa-3x mb-3"></i>
          <h4>Code Mastery Unleashed!</h4>
          <p>Unlock expertly curated content for coding excellence. Elevate your skills with industry-led courses.</p>
        </li>
        <li class="text-center">
          <i class="fas fa-robot fa-3x mb-3"></i>
          <h4>Code Smarter with AI</h4>
          <p>Your virtual coding mentor—get instant feedback, personalized insights. Learn at your own pace.</p>
        </li>
        <li class="text-center">
          <i class="fas fa-comments fa-3x mb-3"></i>
          <h4>Real-time Code Guidance</h4>
          <p>Interactive learning, instant feedback. Elevate your skills with personalized, one-on-one teaching.</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<i class=""></i>
