// To style the wrapping div
.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  background-color: rgb(220, 240, 186);
}

.receiver-style {
  background-color: rgb(203, 233, 244);
}
.custom-width-button {
  width: 70px;
}
