.navbar-lewagon {
  justify-content: space-between;
  background: white;
  width: 100%;
  max-width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100%;
  height: 50px;
  max-width: 120px;
}

.btn-outline-secondary {
  color: #372A9D;
  border-color: #372A9D;
  margin-right: 70px;
}

.btn-outline-secondary:hover {
  background-color: #372A9D
}

.btn-light {
  margin-right: 10px;
}

.fa-house {
  font-size: 20px;
}

.fa-house:hover {
  opacity: 0.7
}
