.content,.row {
  height: 100%;
}

.board-container {
  box-sizing: border-box;
}

.board {
  background-color: #cfd0d0;
  margin: 3px;
  border-radius: 10px;
  padding-top: 8px;
}

.row-name {
  padding-left: 0px;
  padding-right: 0px;
}

.p-profile {
  padding-left: 8px;
  opacity: 0.7;
}

.email {
  font-size:18px;
  font-weight: 500;
}

.regular-fill {
  font-size: 16px;
}

.red {
  background-color: lightcoral;
}

.green {
  background-color: lightgreen;
}

.btn-treehouse {
  color: #393838;
  padding: 5px 5px;
  border-radius: 5px;
  font-weight: lighter;
  opacity: 0.6;
  border: none;
}

.btn-treehouse:hover {
  color: black;
}
