<%= render 'shared/indexbanner' %>

<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://eysing.com/wp-content/uploads/2023/06/Eysing-PF40-Home.jpg);">
  <div class="container">
    <h1><strong>Go electric now</strong> - choose your EV and <strong>ride green</strong> with E-Mobile!</h1>
    <p>Renting & subscribing to the newest electric vehicles has never been easier.</p>
  </div>
</div> %>

<div class="container mt-3">
  <div class="row mb-2" data-controller="search-courses">
    <%= render 'shared/searchbar' %>
    <div class="col-12 mt-3">
      <%= render 'products/list' %>
    </div>
  </div>
</div>
